body {
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

#app, .wrapper {
    height: inherit;
}

.navbar-dark {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 3px;

                &.active {
                    color: map-get($theme-colors, 'warning');
                    font-weight: 600;
                }
            }
        }
    }
    
}