@import '../global/color-variables';

#frm-contact {
    background-image: linear-gradient(to bottom left,darken($light, 45%),$primary);
}

.social-icon {
    font-size: 3.5rem;
}

.github-container {
    .github {
        color: #444444;
    }
}

.linkedin-container{
    .linkedin {
        color: #007BB6;
    }
}

.twitter-container {
    .twitter {
        color: #55ACEE;
    }
}

.facebook-container {
    .facebook {
        color: #3B5998;
    }
    
    &:hover .bi-hand-thumbs-up-fill {
        opacity: 1;
        transform: rotate(0deg);
    }

    .bi-hand-thumbs-up-fill {
        opacity: 0;
        color: #fff;
        font-size: 2.5rem;
        transform: rotate(45deg);
        transition: all .7s ease-out;
    }
}




// .social-icon-container {
//     width: 90px;
//     height: 90px;
//     font-size: 1.5rem;
//     position: relative;
//     border-radius: 50%;
//     margin: 0.5rem;

    // .social-icon {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     line-height: 90px;
    //     color: #fff;
    //     font-size: 3rem;
    // }

    // .github-container {
    //     background-color: #444444;
    // }

    // .linkedin-container {
    //     background-color: #007BB6;
    // }

    // .twitter-container {
    //     background-color: #55ACEE;
    // }

    // .facebook-container {
    //     color: #3B5998;
    //     background-color: #3B5998;

    //     &:hover {
    //         background-color: #3B5998;
    //     }

    //     .bi-hand-thumbs-up-fill {
    //         opacity: 0;
    //     }

    //     .bi-hand-thumbs-up-fill:hover {
    //         opacity: 1;
    //         transform: rotate(0deg);
    //     }
        


    // }




// }